body{
    background-color: rgb(250, 250, 250);
    margin: 0 auto;
}
.header{
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.headerBrand{
    width: 100%;
    height: auto;
    background-image:url(../image/veges.png);
}
.headerBrand a img{
    width: 20%;
}
.wrap{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.menu{
    width: 20%;
    border-right: 2px solid rgb(192, 190, 190);
    float: left;
}
.menu ul{
    font-size: xx-large;
    font-weight: normal;
}
.menu ul li{
    margin: 15%;
    align-self: center;
    list-style-type: none;
}
.menu ul li img{
    width: 15%;
    height: auto;
    margin-right: 15%;
    align-self: center;
}
.selectionTab{
    width: auto;
    height: 5%;
    border-bottom: 2px solid rgb(192, 190, 190);
    float: left;
    margin-left: 5%;
}