body {
    background-color: rgb(250, 250, 250);
    margin: 0 auto;
}

.header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.headerBrand {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-image: url(/image/veges.png);
}

.headerBrand a img {
    width: 20%;
}

.wrap {
    width: 600px;
    height: auto;
    margin: 0 auto;
    margin-top: 6%;
}

.forgetPassword h1 {
    margin: 0 auto;
    font-size: -webkit-xxx-large;
    margin-bottom: 8%;
}

.inputIF h3 {
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 22px;
    font-weight: 400;
}

.inputIF input {
    width: 95%;
    height: auto;
    font-size: 200%;
    padding: 2%;
}

.inputIF button {
    margin: 0 auto;
    margin-top: 10%;
    width: 100%;
    height: auto;
    font-size: 197%;
    padding: 2%;
    font-weight: 500;
    color: white;
    background-color: lightgray;
    border: 0;
}

.inputIF h4 {
    margin-left: 29%;
    margin-right: 29%;
}

.inputIF h4 a {
    color: rgb(97, 138, 69);
    margin-left: 4%;
    margin-right: 4%;
}