body{
    background-color: rgb(250, 250, 250);
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 102px;
    margin: 0 auto;
    text-align: center;
}
.headerBrand{
    width: 100%;
    height: 102px;
    margin: 0 auto;
    background-image:url(../image/veges.png);
}
.menuBox{
    width: 20%;
    height: 102px;
    float: left;
    position: inherit;
    /* border-right: 3px solid rgb(10, 10, 10); */
}
.menuButton{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 7%;
    margin-bottom: 7%;
    background-color: rgb(7 45 0);
    border-radius: 15px;
    border: 2px solid rgb(250, 250, 250);
}
.menuButton img{
    max-width: 65%;
}
.brandBox{
    width: 60%;
    height: 102px;
    float: left;
    position: inherit;
    /* border-right: 3px solid rgb(10, 10, 10); */
}
.brandButton{
    margin-left: 30%;
    margin-right: 30%;
}
.brandButton a img{
    max-width: 83%;
}
.cartBox{
    width: 20%;
    height: 102px;
    float: right;
    position: inherit;
}
.cartButton{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 7%;
    margin-bottom: 7%;
    background-color: rgb(7 45 0);
    border-radius: 15px;
    border: 2px solid rgb(250, 250, 250);
}
.cartButton a{
    color: white;
    font-size: xx-large;
    text-decoration: none;
}
.wrap{
    width: 100%;
    height: auto;
}
.searchBox{
    max-width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.searchBox input{
    margin: .4rem 0;
    font-size: xx-large;
    border: 2px solid rgb(169, 169, 169);
}
.searchBox button{
    padding-left: 1%;
    padding-right: 1%;
    font-size: 170%;
    font-weight: 500;
    border: 2px solid rgb(169 169 169);
}
.sortBox{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.dailyMemuBox{
    max-width: 100%;
    max-height: fit-content;
}
.dailyMenuPB{
    max-width: 100%;
    max-height: fit-content;
    border-radius: 50%;
    margin-left: 10%;
}
.dailyMenuPB img{
    max-width: 60%;
}
.comboBox{
    max-width: 100%;
    max-height: fit-content;
}
.comboPB{
    max-width: 100%;
    max-height: fit-content;
    border-radius: 50%;
    margin-left: 10%;
}
.comboPB img{
    max-width: 60%;
}
.snakesBox{
    max-width: 100%;
    max-height: fit-content;
}
.snakesPB{
    max-width: 100%;
    max-height: fit-content;
    border-radius: 50%;
    margin-left: 10%;
}
.snakesPB img{
    max-width: 60%;
}
.clothesBox{
    max-width: 100%;
    max-height: fit-content;
}
.clotherPB{
    max-width: 100%;
    max-height: fit-content;
    border-radius: 50%;
    margin-left: 10%;
}
.clotherPB img{
    max-width: 60%;
}
.sortTextBox{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dailyTB{
    max-width: 100%;
    height: auto;
    margin-left: 35.9%;
}
.dailyTB a{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: black;
}
.comboTB{
    max-width: 100%;
    height: auto;
    margin-left: 3%;
}
.comboTB a{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: black;
}
.snakesTB{
    max-width: 100%;
    height: auto;
    margin-left: 5%;
}
.snakesTB a{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: black;
}
.clothsTB{
    max-width: 100%;
    height: auto;
    margin-left: 7%;
}
.clothsTB a{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: black;
}
.menuArea{
    max-width: 100%;
    max-height: fit-content;
    border-top: 2px solid rgb(169, 169, 169);
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}
.blockMain{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media (max-width: 1024px){
    #leftB{
        display: none;
    }
    #rightB{
        display: none;
    }
    #centerB{
        width: 100%;
    }
    img{
        width: 99%;
    }
}
@media (max-width: 768px) {
    img{
      width: 99%;
    }
}
@media (max-width: 500px) {
    img{
      width: 100%;
    }
}
.boxBlock{
    max-width: fit-content;
    max-height: fit-content;
    margin-top: 2%;
    border-radius: 60px;
    background-color: rgb(255 196 119 / 64%);
}
.textBlock{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    font-size: larger;
}
.textBlock h3{
    margin-top: 0%;
    margin-bottom: 2%;
}
.textBlock p{
    margin-top: 0%;
    margin-bottom: 4%;
    font-size: xx-large;
    font-weight: 600;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    -webkit-text-stroke: 2px black;
    font-family: fantasy;
}
.vagesImgWrap{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 ,0 ,0 ,0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.vagesImg{
    margin-left: auto;
    width: 40vw;
    max-height: 79vh;
    overflow: hidden;
    background-color: rgb(243 243 243);
    border: 1px solid #000;
}
.vagesImg img{
    max-width: 100%;
    min-width: 100%;
}
.allContainer{
    margin-right: auto;
    width: 20vw;
    height: 80vh;
    max-height: 79vh;
    border: 1px solid #000;
    background-color: rgb(243 243 243);
}
.vagesName{
    margin-top: auto;
    height: 10%;
    /* border: 1px solid #000; */
    text-align: center;
}
.vagesDetile{
    height: 50%;
    /* border: 1px solid #000; */
    border-top: 1px solid #000;;
    border-bottom: 1px solid #000;
    font-size: inherit;
    margin-left: 5%;
    margin-right: 5%;
}
.amountButton{
    height: 15%;
    /* border: 1px solid #000; */
    border-bottom: 1px solid #000;
    margin: 0 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.amountButton p{
    margin: 10%;
    font-size: xx-large;
}
.amountButton button{
    width: 16%;
    font-size: xxx-large;
    color: white;
    background-color: rgb(0 0 0 / 77%);
    border-radius: 35px;
    border: none;
}
.vagesCartButton{
    height: 10%;
    margin: 12% 5% 10%;
    /* margin-top: 10%; */
    /* border: 1px solid #000; */
}
.vagesCartButton button{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    font-size: x-large;
    color: white;
    background-color: rgb(0 0 0 / 77%);
}