body{
    background-color: rgb(250, 250, 250);
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    width: 100%;
    height: 200px;
    text-align: center;
    background-image:url(/VegetableShop/image/veges.png);
}
.header img{
    width: 50%;
    height: 200px;
}
.wrap{
    margin: 0 auto;
    width: 100%;
    height: 1000px;
    /* background-color: blue; */
    overflow: hidden;
}
.menuContainer{
    width: 20%;
    height: 1000px;
    float: left;
    border-right: 3px solid rgb(10, 10, 10);
    /* background-color: pink; */
}
.menuPages ul li img{
    list-style-type: none;
    float: left;
}
/* .homePage{
    width: 60%;
    height: 80px;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    border-top: 1px solid rgb(10, 10, 10);
    border-bottom: 1px solid rgb(10, 10, 10);
    border-right: 2px solid rgb(10, 10, 10);
    border-left: 2px solid rgb(10, 10, 10);
    background-color: rgb(161, 161, 161);
} */
.imageIcon{
    width: 30%;
    height: 80px;
    margin-right: 5%;
    margin-left: 10%;
    float: left;
}
.textM{
    width: auto;
    float: left;
    /* list-style-type: none; */
    font-size: xx-large;
    font-weight: normal;
    /* text-align: initial; */
    margin-top: 8%;
    margin-left: 7%;
    margin-right: 19%;
    margin-bottom: 8%;
    position: relative;
}
.menuContent{
    width: auto;
    height: 1000px;
    margin-left: 20%;
    background-color: yellow;
}
.footer{
    clear: both;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: black;
}
.contentPages{
    width: auto;
    height: 5%;
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    font-weight: bolder;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(77, 77, 77);
}
.contentPages:focus,
.contentPages:hover{
    cursor: pointer;
}