body{
    background-color: rgb(250, 250, 250);
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    width: 100%;
    height: 200px;
    text-align: center;
    background-image:url(../image/veges.png);
}
.header img{
    max-width: 50%;
    height: 200px;
}
.wrap{
    margin: 0 auto;
    width: 100%;
    height: 1000px;
    /* background-color: blue; */
    overflow: hidden;
}
.menuContainer{
    width: 20%;
    height: 1000px;
    float: left;
    border-right: 3px solid rgb(10, 10, 10);
    /* background-color: pink; */
}
.menuPages ul li img{
    list-style-type: none;
    float: left;
}
.pictureSqure{
    max-width: 100%;
    border: 2px solid rgb(0, 0, 0) ;
}
.pictureSqure img{
    margin-left: 23%;
    margin-right: 24%;
}
.menuContent{
    width: auto;
    height: 1000px;
    margin-left: 20%;
    /* background-color: yellow; */
}
.footer{
    clear: both;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: black;
}
.contentIcons{
    height: 8%;
}
.contentButton{
    font-size: 50px;
    margin: 4px 2px;
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(4 64 4);
    border: none;
    border-radius: 10px;
    /* background: linear-gradient(-45deg, transparent 15px, rgb(0, 87, 12) 0); */
}